.btn-primary{
  background-color: #ff165e;
  border: 0;
}


.btn-secondary {
  border-color: gray;
}

.center-block {
  float: none;
  margin: 0 auto;
  padding: 22px;
}


.date {
  text-align: right;
  color: #908f8f;
  font-size: 12px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.description {
  font-size: 14px;
}

.glyphicon-edit{
  color: #4e76f1;
  font-size:25px;
}

.glyphicon-edit:hover {
  cursor: pointer;
}

.glyphicon-trash {
  color: #ff165e;
  font-size: 25px;
  padding: 15px;
}

.glyphicon-trash:hover {
  cursor: pointer;
}

.location {
  font-size: 16px;
  color: #322e2e;
}

.panel-body {
  padding-bottom: 10px;
}

.place {
  margin-top: 20px;
}

.place-details {
  padding: 15px;
}

.place-image {
  width: 100%;
}

.rating {
  color: #908f8f;
  font-size: 11px;
}

.title {
  font-size: 25px;
  color: #322e2e;
  margin-bottom: -2px;
}
