<div class="col-sm-6 col-md-6 col-lg-6 center-block" *ngIf="onePlace">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="place-image"><img class="img-responsive" [src]="onePlace.photoUrl" alt="Travel Image">
    </div>
    <div *ngIf="!onePlace.photoUrl" class="place-image"><img class="img-responsive" src="https://i.imgur.com/gO1Fktp.png" alt="Image URL Not Found">
    </div>
      <div class="place-details">
        <div class="date">{{onePlace.start_date}}</div>
        <div *ngIf="onePlace.start_date !== onePlace.end_date" class="date">{{onePlace.end_date}}</div>
        <div class="title">{{onePlace.title}}</div>
        <div class="location">{{onePlace.city}} {{onePlace.state}} {{onePlace.country}}</div>
        <div class="description">{{onePlace.description}}</div>

        <div class="pull-left" *ngIf="onePlace.rating > 0">
            <rating [(ngModel)]="onePlace.rating" [max]="max" [readonly]="isReadonly" style="color: #f9bc00; font-size: 18px;"></rating>
            <span class="label"
                  [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                  [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>
        </div>

        <div class="row modify pull-right">
            <a routerLink="/places/edit/{{onePlace.id}}"><span class="glyphicon glyphicon-edit"></span></a>
            <a (click)="deletePlaceModal.open()"><span class="glyphicon glyphicon-trash"></span></a>
            <modal #deletePlaceModal>
                <modal-header>
                    <h3>Are you sure?</h3>
                </modal-header>
                <modal-content>
                    Are you sure you want to delete this travel memory?
                </modal-content>
                <modal-footer>
                   <button class="btn btn-primary" (click)="deletePlace(onePlace)">Delete</button>
                    <button class="btn btn-secondary" (click)="deletePlaceModal.close()">Cancel</button>
                </modal-footer>
            </modal>
        </div>

  </div>
</div>
</div>
