<div class="col-sm-6 col-md-4 col-lg-4 center-block" *ngIf="onePlace">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="place-image"><img class="img-responsive" [src]="onePlace.photoUrl" [alt]="onePlace.title">
    </div>
      <div class="place-details">
        <div class="date">{{onePlace.start_date}}</div>
        <div class="title">{{onePlace.title}}</div>
        <div class="location">{{onePlace.city}} {{onePlace.state}} {{onePlace.country}}</div>
        <div class="description">{{oneplace.description}}</div>
        <div class="rating">{{onePlace.rating}}</div>
        <button class="btn btn-info" routerLink="/places/edit/{{onePlace.id}}">Edit</button>
      </div>
  </div>
</div>
</div>

  <!-- <div class="col-6 panel panel-default" *ngIf="onePlace">
  <div class="panel-body">
  <div class="place-image"><img class="img-responsive" [src]="onePlace.photoUrl" [alt]="OnePlace.title">
  </div>
    <div class="panel-body">
      <div class="place-details">
        <div class="date">{{onePlace.start_date}}</div>
        <div class="title">{{onePlace.title}}</div>
        <div class="location">{{onePlace.city}} {{onePlace.state}} {{onePlace.country}}</div>
        <div
        <div class="rating">{{onePlace.rating}}</div> class="description">{{onePlace.description}}</div>
        <a class="btn btn-info" routerLink="/places/edit/{{place.id}}">
          Edit
        </a>
    </div>
  </div>
  </div>
  </div> -->
