a:hover{
  text-decoration: none;
}

h1 {
font-size: 50px;
}

.btn-primary{
  background-color: #ff165e;
  border: 0;
}

.date {
  text-align: right;
  color: #908f8f;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.glyphicon-edit{
  color: #4e76f1;
  font-size:25px;
}

.glyphicon-edit:hover {
  cursor: pointer;
}

.glyphicon-trash {
  color: #ff165e;
  font-size: 25px;
  padding-left: 15px;
}

.glyphicon-trash:hover {
  cursor: pointer;
}

.hero-image {
    background-image: url(http://deskbg.com/s3/wpp/1/1470/france-snow-lake-desktop-background.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.location {
  font-size: 16px;
  color: #322e2e;
}

.modify {
  margin-top: 15px;
}

.panel-body {
  padding-bottom: 10px;
}

.place {
  margin-top: 20px;
}

.place-image {
  width: 100%;
}

.pull-right {
	float: right;
}

.title {
  font-size: 25px;
  color: #322e2e;
  margin-bottom: -2px;
}
