<div class="hero-image">
  <div class="hero-text">
    <h1>TRACK YOUR TRAVELS</h1>
    <p>Never forget your travel experiences again!</p>
    <button class="btn btn-primary" routerLink="/places/new">Add new visit</button>
  </div>
</div>


<div class="col-md-4 col-sm-6 place" *ngFor="let place of allPlaces">
<div class="panel panel-default">
<div class="panel-body">
    <a routerLink="/places/{{place.id}}">
<div class="place-image"><img class="img-responsive" [src]="place.photoUrl" [alt]="place.title">
</div>
</a>
  <div class="panel-body">
    <a routerLink="/places/{{place.id}}">
    <div class="place-details">
      <div class="date">{{place.start_date}}</div>
      <div class="title">{{place.title}}</div>
      <div class="location">{{place.city}} {{place.state}} {{place.country}}</div>
      <div class="description">{{place.description}}</div>
  </div>
</a>
 <div class="modify pull-right">
   <a routerLink="/places/edit/{{place.id}}"><span class="glyphicon glyphicon-edit"></span></a>
   <a (click)="deletePlace(place)"><span class="glyphicon glyphicon-trash"></span></a>
</div>
</div>
</div>
</div>
</div>
<!--
<div class="places">
  <div class="row" *ngFor="let place of allPlaces">
    <ul>
      <img [src]="place.photoUrl" [alt]="place.title">
      <li>
        <h2>
          <a routerLink="/places/{{place.id}}">
            {{place.title}}
          </a>
        </h2>
      </li>
      <li>
        <a routerLink="/places/edit/{{place.id}}">
          Edit
        </a>
      </li>
      <li>
        <form (ngSubmit)="deletePlace(place)">
          <input type="submit" value="Delete"/>
        </form>
      </li>
    </ul>
  </div>
</div>
</div> -->
