<div class="hero-image">
  <div class="hero-text">
    <h1>TRACK YOUR TRAVELS</h1>
    <p>Never forget a travel experience again!</p>
    <button class="btn btn-primary" routerLink="/places/new">Add a Travel Memory</button>
  </div>
</div>

<div class="col-md-4 col-sm-6 place" *ngFor="let place of allPlaces">
<div class="panel panel-default">
<div class="panel-body">
    <a routerLink="/places/{{place.id}}">
<div class="place-image"><img class="img-responsive" [src]="place.photoUrl" [alt]="place.title">
</div>
</a>
  <div class="panel-body">
    <a routerLink="/places/{{place.id}}">
    <div class="place-details">
      <div class="date">{{place.start_date}}</div>
      <div class="title">{{place.title}}</div>
      <div class="location">{{place.city}} {{place.state}} {{place.country}}</div>
  </div>
</a>

<div class="pull-left" *ngIf="place.rating > 0">
    <rating [(ngModel)]="place.rating" [max]="max" [readonly]="isReadonly" style="color: #f9bc00; font-size: 18px;"></rating>
    <span class="label"
          [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
          [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>
</div>

<div class="row modify pull-right">
    <a routerLink="/places/edit/{{place.id}}"><span class="glyphicon glyphicon-edit"></span></a>
    <a (click)="deletePlaceModal.open()"><span class="glyphicon glyphicon-trash"></span></a>
    <modal #deletePlaceModal>
        <modal-header>
            <h3>Are you sure?</h3>
        </modal-header>
        <modal-content>
            Are you sure you want to delete this travel memory?
        </modal-content>
        <modal-footer>
           <button class="btn btn-primary" (click)="deletePlace(place)">Delete</button>
            <button class="btn btn-secondary" (click)="deletePlaceModal.close()">Cancel</button>
        </modal-footer>
    </modal>
</div>

</div>
</div>
</div>
</div>
