<h2>Examples</h2>

<a class="btn" routerLink="/examples/new">Add Example!</a>

<div class="examples">
  <div class="row" *ngFor="let example of allExamples">
    <ul>
      <li>
        <h1>{{example.text}}</h1>
      </li>
      <li>
        <h2>
          <a routerLink="/examples/{{example.id}}">
            {{example.text}}
          </a>
        </h2>
      </li>
      <li>
        <a routerLink="/examples/edit/{{example.id}}">
          Edit
        </a>
      </li>
      <li>
        <form (ngSubmit)="deleteExample(example)">
          <input type="submit" value="Delete"/>
        </form>
      </li>
    </ul>
  </div>
</div>
