<h2>New Place</h2>

<form (ngSubmit)="savePlace(newPlace)">
  <label for="title">Title:</label>
  <input name="place.title" [(ngModel)]="newPlace.title">

  <label for="city">City:</label>
  <input name="place.city" [(ngModel)]="newPlace.city">

  <label for="state">State:</label>
  <input name="place.state" [(ngModel)]="newPlace.state">

  <label for="country">Country:</label>
  <input name="place.country" [(ngModel)]="newPlace.country">

  <label for="description">Description:</label>
  <input name="place.description" [(ngModel)]="newPlace.description">

  <label for="start_date">Start Date:</label>
  <input name="place.start_date" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
 [(ngModel)]="newPlace.start_date">

 <label for="end_date">Start Date:</label>
 <input name="place.end_date" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
[(ngModel)]="newPlace.end_date">

<label for="rating">Rating:</label>
<input name="place.rating"
[(ngModel)]="newPlace.rating">

<label for="photoUrl">Photo URL:</label>
<input name="place.photoUrl"
[(ngModel)]="newPlace.photoUrl">

  <input type="submit" value="Create">
</form>
