<div class="overlay">
  <alert></alert>
  <h1>*Traveler</h1>
<div class="container col-xs-10 col-md-4 center-block" *ngIf="!auth.user">
  <a class="active">Sign In</a>
  <a class="inactive" routerLink="/register/">Register</a>
  <div class="inputs">
  <input class="form-control" [(ngModel)]="user.email" type="text" placeholder="Email"/>
  <br>
  <input class="form-control" [(ngModel)]="user.password" type="text" placeholder="Password"/>
  <input class="btn btn-primary" (click)="signIn()" type="submit" value="Log in"/>
</div>

</div>
</div>
