.asterisk{
  color: #ff165e;
}

.center-block {
  float: none;
  margin: 0 auto;
  padding: 22px;
  text-align: left;
}

.btn {
  width: 33%;
}

.btn-primary {
  background-color: #ff165e;
  border: 0;
}


.btn-secondary {
  border-color: gray;
}

.location-search {
  margin-bottom: 15px;
}

.panel-default>.panel-heading {
  background-color: #4841a7;
  color: white;
}
