<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Tun.r</title>
</head>
<body>
  <alert></alert>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid" *ngIf="auth.user">
      <div class="navbar-header">

        <div class="navbar-brand"><span class="glyphicon glyphicon-globe"></span>MyTravel Memories</div>
    </div>
      <div>

        <ul class="nav navbar-nav pull-right">
            <li><a class="nav-link" routerLink="/places">Home</a></li>
            <li><a class="nav-link" routerLink="/change-password">Change Password</a></li>
            <li>
              <a><input class="btn-primary" (click)="signOut()" type="submit" value="Sign Out"/>
              </a>
            </li>
        </ul>
    </div>
  </div>
</nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>
</html>
