/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css';

body {
  background-image: url(https://i.pinimg.com/736x/5d/ac/d0/5dacd004927da04b74e271b176c3dee0--subtle-textures-seamless-textures.jpg);
  background-repeat: repeat;
}

html {
  background-image: url(https://i.pinimg.com/736x/5d/ac/d0/5dacd004927da04b74e271b176c3dee0--subtle-textures-seamless-textures.jpg);
  background-repeat: repeat;
}
